* {
  margin: 0;
  padding: 0;
}

/*FORMULARIO SIGN IN*/

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

h2 {
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 19px;
  color: #3b3b3b;
  margin-bottom: 16px;
  text-align: left;
}

/* INPUT ITEMS */

label {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #3b3b3b;
  margin: 0;
}

sup {
  font-family: "Encode-sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #d42f1a;
}

.inputNormal {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #555555;
  padding: 10px 12px 10px 10px;
  width: 320px;
  height: 42px;
  border: 1px solid #939393;
  box-sizing: border-box;
  border-radius: 7px;
  margin: 3px 0 11px 0;
  background-color: transparent;
}

.inputNormal::placeholder {
  color: #939393;
}

.inputNormal:focus {
  outline-color: #649fd6;
}

.password-toogle-icon {
  position: relative;
  width: 20px;
  top: -43px;
  left: 289px;
  z-index: 1000;
  cursor: pointer;
  color: #939393;
}

/* ESTADO ERROR */

.inputError {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #555555;
  padding: 10px 12px 10px 10px;
  width: 320px;
  height: 42px;
  border: 1px solid #d42f1a;
  box-sizing: border-box;
  border-radius: 7px;
  margin: 3px 0 11px 0;
  background-color: transparent;
}

.inputError::placeholder {
  color: #939393;
}
.popUpAlertCont {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin-top: 3px;
  position: absolute;
  bottom: 98px;
}

.popUpAlertUsuario {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  transform: translateY(-7px);
}

.warning {
  margin-right: 5px;
  height: 14px;
  width: auto;
  transform: translateY(2px);
}

.alerta {
  font-family: "Encode-sans", sans-serif;
  font-weight: 300;
  font-size: 13px;
  color: #d42f1a;
}

/* BOTONES */

.btnSubmit {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: 19px;
  width: 320px;
  height: 42px;
  background: #8a3879;
  border-radius: 7px;
  border: none;
  color: #ffffff;
  flex-shrink: 0;
}

.btnSubmit:hover {
  background-color: #a54f93;
  transition: 0.5s;
}

.btnSubmit:active {
  background-color: #78306b;
  transition: 0.3s;
}

.recupCont {
  color: #8a3879;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 14px;
  margin-top: 20px;
  left: 25%;
  text-decoration: underline;
}

.recupCont:hover {
  color: #a54f93;
  transition: 0.3s;
}

/* RECUPERAR CONTRASEÑA */

/* SELECT */

.inputSelect {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #555555;
  width: 320px;
  height: 42px;
  box-sizing: border-box;
  border-radius: 7px;
  margin: 3px 0 11px 0;
  background-color: transparent;
}
.inputSelect::placeholder {
  color: #939393;
}

/* BOTONES RECUPERAR CONTRASEÑA */

.btnFlex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 20px;
}

.btnVolver {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  line-height: 19px;
  width: 158px;
  height: 41px;
  background: transparent;
  border-radius: 7px;
  border: 1px solid #8a3879;
  color: #8a3879;
}

.btnContinuar {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: 19px;
  width: 158px;
  height: 41px;
  background: #8a3879;
  border-radius: 7px;
  border: none;
  color: #ffffff;
  margin-left: 11px;
}

@media only screen and (min-width: 1024px) {
  .recupCont {
    margin-top: 40px;
  }

  .popUpAlertCont {
    bottom: 110px;
  }
}
