.loadingPage {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  background-color: rgba(255, 255, 255, 0.85);
}

.loadingSpinner {
  color: rgba(143, 181, 242, 0.6);
  width: 100px;
  height: 100px;
  margin: 0;
  position: absolute;
  left: 37%;
  top: 37%;
}
