* {
  margin: 0;
  padding: 0;
}

.topLogo {
  display: flex;
  flex-direction: row;
  align-items: center;
  transform: translateY(-10px);
}

.logo {
  width: 50px;
  transform: translateY(-10px);
}

@media only screen and (min-width: 1024px) {
  .topLogo {
    position: fixed;
    top: 8vh;
    left: 8vw;
  }
}
